@font-face {
	font-family: 'OpenSans';
	src: url('../web/opensans.woff') format('woff'),
		url('../web/opensans.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../web/opensanslight.woff') format('woff'),
		url('../web/opensanslight.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../web/gilroyextrabold.woff') format('woff'),
		url('../web/gilroyextrabold.woff2') format('woff2');
	font-weight: 800;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../web/gilroylight.woff') format('woff'),
		url('../web/gilroylight.woff2') format('woff2');
	font-weight: 300;
}

body {
	font-size: 15px;
	line-height: 2;
	font-family: 'OpenSans', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

main {
	overflow: hidden;
	min-width: 1160px;
}

a {
	text-decoration: none;
}

.header {	
	width: 1160px;	
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.header::after {
	content: '';
	background-color: #F7E397;
	width: 1160px;
	height: 299px;
	position: absolute;
	top: 40px;
	z-index: -1;
}

.header-catalog::after {
	content: '';
	background-color: #F7E397;
	width: 1160px;
	height: 186px;
	position: absolute;
	top: 36px;
	z-index: -1;
}

.header-top {
	display: flex;
	margin: 27px auto 0;
	padding: 0;
	width: 1040px;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	list-style: none;
	margin-top: 1px;
	padding-left: 19px;
}

.header-nav li:first-child a {
	background: url('../img/user.svg') no-repeat 0;
	padding-left: 26px;	
}

.header-nav li:first-child {
	flex: 1 1 auto;
}

.header-nav li:nth-child(2) a {
	background: url('../img/compare.svg') no-repeat 0;
	padding-left: 20px;
}

.header-nav li:last-child a {
	background: url('../img/cart.svg') no-repeat 0;
	margin-left: 41px;
	padding-left: 22px;
}


.header-nav button,
.flex-user-catalog button {
	padding-left: 15px;
	background-color: #F7E397;
	border: 0;
}

.flex-user-catalog button {
	background-color: #464646;
	color: rgba(255, 255, 255, 0.3);
}

.header-links {
	display: flex;
	justify-content: space-between;
	width: 150px;
}

.search-flex {
	display: flex;
	width: 415px;
}

.search-flex img {
	margin-right: 20px;
}

.logo {
	width: 163px;
	height: 35px;
	padding: 0 59px;	
}

.svg {
	width: 16px;
	height: 16px;
}

.flex-form {
	display: flex;
	align-items: flex-end;
}

.header-top input {
	font-weight: 300;
	background: url('../img/search.svg') no-repeat;
	padding: 0 0 14px 36px;
	width: 355px;
	border: 2px solid transparent;
}

.header a {
	color: #000000;
	font-weight: 300;
	letter-spacing: 0.15px;
	width: 163px;
}

.search {
	display: none;
	color: #000000;
	font-weight: 300;
	letter-spacing: 0.15px;
	background-color: #F7E397;
	border: solid 2px black;
	width: 85px;
	height: 49px;
	margin-left: 50px;
	cursor: pointer;
}

.search-flex button {
	margin-left: 0;
}

.search-flex {
	height: 20px;
	margin: 19px 0 0 1px;
}

.header input:focus ~ .search {
	display: block;
}

.header-top input::placeholder {
	color: #b3b3b3;
}

.header-top input:hover::placeholder {
	color: #666666;
}
/* IE 10-11 и EMobile 10-11 */
.header-top input:-ms-input-placeholder {
	color: #b3b3b3;
}

.header-top input:hover:-ms-input-placeholder {
	color: #666666;
}
/* Edge */
.header-top input::-ms-input-placeholder {
	color: #b3b3b3;
}

.header-top input:hover::-ms-input-placeholder {
	color: #666666;
}

.search:hover {
	display: block;
	background-color: #000000;
	color: #ffffff;
}

.search:active {
	display: block;
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000;
}

.flex-form input:hover {
	color: #666666;
}

.flex-form input:focus  {
	border-bottom: 2px solid black;
	color: #000000;
}

.header button {
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.title {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: 65px auto 43px auto;
}

.main {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
	justify-content: space-between;
}

.title-1 {
	font-size: 47px;
	color: #000000;
	font-weight: 800;
	line-height: 1.02;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.47px;
	margin: 0 auto 0 59px;
}

.filter-flex {
	display: flex;
	margin-left: 60px;
	position: relative;
}

.filter-flex fieldset {
	border: 0;
}

.flex-menu {
	display: none;
	position: absolute;		
	width: 1101px;
	background-color: #F7E397;
	left: -60px;
	padding: 25px 0 26px 60px;
	z-index: 2;
}

.index-navigation {
	width: 1040px;
	margin: 0 auto ;
}

.index-navigation a {
	font-size: 18px;
	color: #000000;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.6px;
}

.flex-navigation li:hover .flex-menu {
	display: flex;
}

.services-menu img {
	position: absolute;
	opacity: 0.3;
	left: 230px;
	top: 11px;
	width: 16px;
}

.menu {
	margin-right: 76px;
	padding-left: 0;
}

.menu li {
	padding-bottom: 17px;
}

.menu:nth-child(2) {
	margin-right: 38px;
	padding-left: 0;
}

.services-menu {
	display: flex;
	margin-right: 0;
	position: relative;
	padding-left: 0;
}

.services-menu > li:nth-child(2) {
	margin-left: 320px;
	margin-right: 35px;
}

.services-menu > li:last-child {
	margin-left: 110px;
	margin-right: 0;
}

.menu a {
	color: #000000;
	font-weight: 300;
	text-transform: none;
	font-family: unset;
	letter-spacing: 0.15px;
	display: block;
	font-size: 15px;
}

.main-navigation a {
	font-size: 18px;
	font-weight: 800;	
}

.index-navigation ul {
	list-style: none;
	font-size: 18px;
}

.index-navigation a:hover,
.user-menu a:hover,
.user-menu button:hover,
.header-catalog .logo:hover {
	opacity: 0.6;
}

.index-navigation a:active,
.user-menu a:active,
.user-menu button:active,
.header-catalog .logo:active {
	opacity: 0.3;
}

main .name-slide {
	font-size: 47px;
	color: #000000;
	font-weight: 800;
	line-height: 1.19;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.47px;
	margin-top: 79px;
	margin-bottom: 19px;
	z-index: 1;
}

.slider {
	margin-top: 30px;
	position: relative;
	margin: 30px auto 0;
	width: 1160px;
}

.inputs,
.slider input.visually-hidden {
	position: absolute;
	top: 306px;
	z-index: 2;
	left: 1000px;
}

.inputs label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #000000;
	font-size: 0;
	margin-right: 17px;
	position: relative;
	cursor: pointer;
}

#slide-1:checked ~ .inputs label[for='slide-1']::before,
#slide-2:checked ~ .inputs label[for='slide-2']::before,
#slide-3:checked ~ .inputs label[for='slide-3']::before {
	content: '';
	position: absolute;
	border: 1px solid black;
	background-color: #ffffff;
	border-radius: 50%;
	width: 3px;
	height: 3px;
	top: 50%;
	left: 50%;
	transform: translateY(-2.5px) translateX(-2.5px);
}

.relative {
	position: relative;
}

.slide {
	display: none;
	height: 486px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#slide-1:checked ~  #slide1,
#slide-2:checked ~  #slide2,
#slide-3:checked ~  #slide3 {
	display: flex;
}

.flex-slide {
	display: flex;
	flex-direction: column;
	margin-left: 599px;
	position: relative;
}

.flex-slide::before {
	content: '';
	position: absolute;
	background-color: #FFFFFF;
	width: 100px;
	height: 7px;
	top: 33px;
}

.number-slide {
	position: absolute;
	color: #FFFFFF;
	font-size: 179px;
	font-weight: 800;
	letter-spacing: 1.79px;
	font-family: 'Gilroy', Arial, sans-serif;
	top: -104px;
	left: 331px;
}

.number-slide p {
	margin: 0;
}

.slide-img_1 {
	position: absolute;
	width: 384px;
	height: 486px;
	left: 89px;
}

.slide-img_2 {
	position: absolute;
	width: 345px;
	height: 484px;
	left: 115px;
	top: 11px;
}

.slide-img_3 {
	position: absolute;
	width: 526px;
	height: 334px;
	top: 64px;
	left: 30px;
}

.flex-description {
	display: flex;
	flex-direction: column;
	margin-left: 125px;
	margin-top: -80px;
	margin-bottom: 71px;
}

.description-slider {
	margin: 0 0 47px 0;
	color: #464646;
	font-weight: 300;
	letter-spacing: 0.15px;
}

.flex-description .name-slide {
	margin-bottom: 31px;
}

.flex-items {
	display: flex;
	margin-top: 20px;
}

.flex-description .button {
	margin-bottom: 71px;
}

.button {
	position: relative;
	font-size: 18px;
	color: #000000;
	background: none;
	border: none;
	text-transform: uppercase;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 3.6px;
	padding: 0 41px 0 43px;
	cursor: pointer;
	height: 40px;
	z-index: 2;
	transition: color 0.2s;
	align-items: center;
}

.services {
	position: relative;
}

.services-flex .button {
	padding: 0 16px 0 20px;
	margin-top: 24px;
	width: 160px;
}

.button::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
	transform-origin: 50%;
	transform: translateY(-50%);
	transition: transform 0.2s, width 0.2s;
	width: 100%;
}

.button:active {
	color: #bc9c23;
}

.button:hover::before {
	transform: translateY(-50%) scaleY(5);
}

.flex-description a:active {
	color: rgba(0, 0, 0, 0.3);
}

.services-flex .button:active::before,
.services-flex .button.is-active::before {
	background-color: #000000;
	width: 277px;
	transform: translateY(-50%) scaleY(5);
}

.services-flex .button:active,
.services-flex .button.is-active {
	color: #f7e184;
}

.column {
	font-size: 36px;
	color: #000000;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.36px;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-right: 77px;
}

.right {
	margin-right: 45px;
}

.column p {
	margin-bottom: 8px;
}

.items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.items li:first-child img {
	margin: 52px 32px 51px 31px;
}

.items li:nth-child(2) img {
	margin: 41px 36px 2px 38px;
}

.items li:nth-child(3) img {
	margin: 38px 40px 35px 49px;
}

.items li:nth-child(4) img {
	margin: 50px 25px 45px 28px;
}

.items li:nth-child(5) img {
	margin: 32px 49px 30px 55px;
}

.items li:last-child img {
	margin: 49px 15px 42px 13px;
}

.section-items {
	margin-left: auto;
	margin-right: auto;
	margin-top: 105px;
	width: 1160px;
}

.second-line {
	font-size: 13px;
	color: #464646;
	line-height: 1.54;
	font-family: unset;
	letter-spacing: 0.13px;
	margin-top: 0;
}

.container {
	display: flex;
	background-color: #F7E397;
	width: 160px;
	height: 160px;
	pointer-events: none;
}

.items a:hover .container,
.items a:focus .container,
.items a:active .container {
	background-color: rgb(240, 197, 46);
}

.items a:active .container img {	
	opacity: 0.5;
}

.items li {
	width: 160px;
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;	
	line-height: 1.33;
	font-weight: 800;
	letter-spacing: 0.18px;
}

.text-items {
	margin-top: 34px;
	color: #000000;
}

.services-flex {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.service-container {
	display: flex;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
}

.services::before {
	position: absolute;
	background-color: #e5e5e5;
	content: '';
	left: 0;
	right: 0;
	top: 72px;
	bottom: -132px;
	z-index: -1;
}

.service-flex {
	display: flex;
	flex-direction: column;
	margin-left: 242px;
	width: 436px;
}

.service-slide {
	display: none;
}

.service-slide.is-active {
	display: flex;
}

.service-slide::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 319px;
	top: -27px;
	background-color: #000000;
	right: 927px;
}

.service-container .service-slide:nth-child(2) img {
	margin: 59px 0 0 120px;
}

.service-container .service-slide:nth-child(3) img {
	margin: 35px 0 0 105px;
}

.service-container .service-slide:last-child img {
	margin: 35px 0px 10px 98px;
}

.service {
	font-size: 47px;
	color: #000000;
	line-height: 1.02;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0.47px;
	margin-bottom: 16px;
}

.service-description {
	color: #464646;
	font-weight: 300;
	letter-spacing: 0.15px;
}

.title-2 {
	font-size: 47px;
	color: #000000;
	line-height: 1.02;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0.47px;
	margin-bottom: 28px;
}

.information {
	display: flex;
	margin: 0 auto 87px;
	width: 1160px;
	justify-content: space-between;
	position: relative;
}

.contacts {
	display: flex;
	flex-direction: column;
	width: 560px;
}

.about-us {
	display: flex;
	flex-direction: column;
	width: 472px;
}

.about-us::before,
.contacts::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 7px;
	background-color: #000000;
	top: -14px;
}

.about-us p {
	font-weight: 300;
	color: #464646;
}

.about-us ul {
	list-style-type: circle;
	padding-left: 21px;
	margin: 51px 0 59px 0;
}

.information li {
	color: #cacaca;
	padding-left: 17px;
	font-size: 18px;
}

.span-black {
	font-size: 16px;
	color: #000000;
	font-weight: 800;
	line-height: 2.5;
	font-family: 'Gilroy', Arial, sans-serif;
}

.about-us a {
	font-size: 18px;
	color: #000000;	
	line-height: 1.33;
}

.about-us .button {
	padding: 0 20px 0 23px;
}

.contacts p {
	font-weight: 300;
	color: #464646;
	margin-bottom: 39px;
}

.contacts .button {
	padding: 0 37px 0 41px;
}

.contact-with-us {
	margin-top: 65px;
}

.footer {
	background-color: #464646;
	height: 323px;
	margin-top: 0;
	margin-left: 0;
	min-width: 1160px;
}

.hiddendiv {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

.top-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.top-footer-catalog {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.user-menu {
	width: 50%;
}

.flex-user {
	display: flex;
	list-style: none;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding-left: 282px;
	position: relative;
}

.flex-user li:nth-child(2) {
	margin: 0 62px;
	text-align: right;	
}

.flex-user-catalog {
	display: flex;
	list-style: none;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding-left: 129px;
	position: relative;
}

.user-svg {
	position: absolute;
	top: 12px;
	left: 102px;
}

.compare-svg {
	position: absolute;
	top: 14px;
	left: 368px;
}

.cart-svg {
	fill: #ffc600;
	position: absolute;
	top: 12px;
	left: 498px;
}

.user-svg-index {
	position: absolute;
	top: 12px;
	left: 259px;
}

.compare-svg-index {
	position: absolute;
	top: 14px;
	left: 372px;
}

.cart-svg-index {
	fill: #ffc600;
	position: absolute;
	top: 12px;
	left: 502px;
}

.user-menu-footer a:hover svg {
	opacity: 0.6;
}

.user-menu-footer a:active svg {
	opacity: 0.3;
}

.flex-user-catalog button {
	padding-left: 15px;
	background-color: #464646;
	border: 0;
	color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.flex-user-catalog button:hover {
	color: #FFFFFF;
}

.flex-user-catalog button:active {
	opacity: 0.3;
}

.flex-user-catalog li:nth-child(2) {
	margin-left: 56px;
	margin-right: 58px;
}

.center-footer {
	display: flex;	
	margin-top: 3px;
	justify-content: space-between;
	align-items: center;
}

.nav-footer {
	margin-top: 4px;
	width: 465px;
}

.nav-flex {
	display: flex;
	list-style: none;
	padding: 0;
	margin-top: 16px;
}

.nav-flex li:nth-child(2) {
	margin: 0 34px;
}

.bot-footer {
	display: flex;
	justify-content: space-between;
}

.flex-social {
	display: flex;
	list-style: none;
	padding: 0;
	position: relative;
}

.flex-social li a{
	color: white;
	white-space: nowrap;
	display: flex;
	min-width: 32px;
	height: 32px;
}

.flex-social li:nth-child(2) {
	margin: 0 23px;
}

.flex-social li:first-child a {
	font-size: 0;
	background: url('../img/facebook.svg') no-repeat;;
}

.flex-social li:nth-child(2) a {
	font-size: 0;
	background: url('../img/inst.svg') no-repeat;
}

.flex-social li:last-child a {
	font-size: 0;
	background: url('../img/twitter.svg') no-repeat;
}

.htmlacademy {
	margin-top: 44px;
	width: 80px;
	text-align: right;
}

.address {
	color: #ffffff;
	font-weight: 300;
	font-style: normal;
}

.nav-flex a {
	font-size: 18px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.6px;
}

.flex-user a,
.flex-user-catalog a {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
	line-height: 2.4;
	letter-spacing: 0.15px;
	padding-right: 1px;
}

.phone {
	color: #ffffff;
	line-height: 2;
	font-weight: 300;
	letter-spacing: unset;
}

.bot-footer::before {
	content: '';
	background-color: #ffc600;
	width: 80px;
	height: 7px;
	margin-top: 59px;
}

.social-footer {
	margin-top: 31px;
}

.hidden-block {
	width: 760px;
	height: 400px;
	margin: 68px 0 0 101px;
}

.popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
	z-index: 100;
	transform: translate(-50%, -50%);
}

.form-message-us {
	width: 960px;
	height: 553px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}

.map {
	height: 559px;
	width: 960px;
	position: relative;
}

.overlay.is-active,
.popup.is-active {
	display: block;
}

.close {
	position: absolute;
	top: 22px;
	right: 15px;
	background-color: #FFFFFF;
	border: 0;
	opacity: 0.5;
	cursor: pointer;
}

.data:hover input,
.your-text:hover textarea {
	background-color: #eaeaea;
}

.data input:focus,
.your-text textarea:focus {
	background-color: #FFFFFF;
	outline: 3px solid #f0c52e;
	color: #464646;
}

.data input:required:invalid,
.your-text textarea:required:invalid {
	background-color: #f6dada;
}

.close:hover {
	opacity: 1;
}

.close:active {
	opacity: 0.3;
}

.your-mail {
	margin-left: 28px;
}


.message-us {
	display: flex;
	flex-direction: column;
}

.form-login {
	display: flex;
}

.data input {
	width: 340px;
	height: 50px;
	background-color: #f2f2f2;
	border: 0;
	padding-left: 20px;
}

.invalid input {
	background-color: #f6dada;
}

.your-text {
	margin: 9px 0 25px;
}

.your-text textarea {
	width: 740px;
	background-color: #f2f2f2;
	border: 0;
	padding: 16px 0 0 19px;
	resize: none;
	font-size: 14px;
}

.message-us p {
	color: #000000;
	font-size: 18px;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	margin-right: 39px;
}

.message-us input {
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
	font-weight: 400;
}

.form-button .button {
	padding: 0 34px;
}

.brands {
	width: 1160px;
	margin: 224px auto 99px;
}

.brands-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
}

.brands-flex img {
	filter: grayscale(100);
	opacity: 0.2;
}

.brands-flex li:hover img {
	filter: grayscale(0);
	opacity: 1;
}

.brands ul {
	list-style: none;
}

.links {
	margin: 19px 0 0 59px;
}

.links a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-height: 1.71;
	font-weight: 300;
	letter-spacing: 0.14px;
	background: url('../img/nav-arrow.svg') no-repeat 83% 61%;
	padding-right: 33px;
}

.links a:nth-child(2) {
	background: url('../img/nav-arrow.svg') no-repeat 92% 61%;
}

.links a:last-child {
	background: none;
}

.links a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.links a:active {
	color: rgba(0, 0, 0, 0.1);
}

.h2 {
	background-color: #d9d9d9;
	font-size: 16px;
	color: #000000;
	font-weight: 800;
	line-height: 1.5;	
	text-transform: uppercase;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.2px;
	height: 48px;
	padding-top: 23px;
	margin: 0;
	width: 267px;
}

.filter-before::before {
	content: '';
	background-color: #d9d9d9;
	position: absolute;
	height: 71px;
	right: 0;
	width: 30000px;
	top: 0;
	z-index: -1;
}

.filter {
	background-color: #ebebeb;
	position: relative;
}

.filter::before {
	content: '';
	background-color: #ebebeb;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 30000px;
	top: 71px;
	z-index: -1;
}

.menu-items {
	position: relative;
	width: 762px;
}

.sorting {
	display: flex;
	margin-bottom: 68px;
}

.sorting p {
	background-color: #ebebeb;
	width: 110px;
	margin-right: 85px;
}

.sorting button {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
	line-height: 1.29;
	font-weight: 400;
	cursor: pointer;
}

.grey-button {
	background-color: #ebebeb;
	border: 0;
	margin-right: 17px;
}

.sorting .is-active,
.buttons .is-active {
	color: #000000;
}

.sorting::before {
	content: '';
	position: absolute;
	width: 30000px;
	z-index: -1;
	left: -74px;
	background-color: #ebebeb;
	height: 71px;
}

.sorting .grey-button:active {
	color: #000000;
}

.sorting button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.down, .up {
	fill: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 19px;
}

.is-active {
	fill: #000000;
}

.down {
	left: 741px;
}

.up {
	left: 711px;
}

.down button,
.up button {
	background-color: #ebebeb;
	border: 0;
}

.down button:hover,
.up button:hover {
	fill: rgba(0, 0, 0, 0.6);
}

.down button:active,
.up button:active {
	fill: #000000;
}

.price {
	position: relative;
	border-top: 2px solid black;
	width: 201px;
	margin-top: 68px;
}

.price p {
	color: #000000;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	letter-spacing: 0.18px;
	margin-top: 11px;
	font-family: 'Gilroy', Arial, sans-serif;
}

.position1 {
	position: absolute;
	z-index: 2;
	top: 60px;
	left: -6px;
	cursor: pointer;
}

.position2 {
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 107px;
	cursor: pointer;
}

.position1:active {
	background: url(../img/filter-button.svg) no-repeat;
	width: 22px;
	height: 24px;
	left: -7px;
	top: 60px;
}

.position2:active {
	background: url(../img/filter-button.svg) no-repeat;
	width: 22px;
	height: 24px;
	top: 60px;
	left: 106px;
}

.green-line {
	position: absolute;
	width: 110px;
	height: 2px;
	background-color: #91c92f;
	z-index: 1;
	top: 69px;
}

.grey-line {
	position: absolute;
	width: 196px;
	height: 2px;
	background-color: #dbdbdb;
	top: 69px;
	left: 3px;
}

.range {
	display: flex;
	justify-content: space-between;
	width: 144px;
}

.range p {
	color: rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
	letter-spacing: unset;
	margin: 30px 0 26px;
}

.filter legend {
	color: #000000;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.18px;
}

.box-input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.box {
	padding-left: 36px;
	cursor: pointer;
}

.check-box {
	position: absolute;
	width: 23px;
	height: 23px;
	background: url('../img/checkbox-off.svg') no-repeat;
	margin-left: -40px;
	margin-top: 7px;
}

.box:hover .check-box {
	opacity: 0.6;
}

.box:active .check-box {
	background: url('../img/checkbox-on.svg');
	opacity: 1;
	width: 27px;
}

.box-input:checked + .check-box {
	background: url('../img/checkbox-on.svg');
	width: 27px;
}

.box-input:checked:active + .check-box {
	background: url('../img/checkbox-off.svg') no-repeat;
}

.radio-input:focus + .radio-span,
.box-input:focus + .check-box {
	outline: -webkit-focus-ring-color auto 1px;
	outline-color: #4d90fe;
}

.box-input:checked:disabled + .check-box {
	background: url('../img/checkbox-on.svg');
	opacity: 0.25;
}

.box-input:disabled + .check-box {
	background: url('../img/checkbox-off.svg');
	opacity: 0.25;
}

.box-input:active:checked:disabled + .check-box {
	background: url('../img/checkbox-on.svg');
	opacity: 0.25;
	width: 27px;
}

.box-input:active:disabled + .check-box {
	background: url('../img/checkbox-off.svg');
	opacity: 0.25;
	width: 23px;
}

.radio-input:checked:disabled + .radio-span {
	background: url('../img/radio-on.svg');
	opacity: 0.25;
}

.radio-input:disabled + .radio-span {
	background: url('../img/radio-off.svg');
	opacity: 0.25;
}

.radio-input:active:disabled + .radio-span,
.radio-input:hover:disabled + .radio-span {
	background: url('../img/radio-off.svg');
	opacity: 0.25;
}

.radio-input:active:checked:disabled + .radio-span,
.radio-input:hover:checked:disabled + .radio-span {
	background: url('../img/radio-on.svg');
	opacity: 0.25;
}

.fieldset {
	margin-top: 8px;
	padding: 0;
}

.legend {
	border-top: 2px solid black;
	width: 201px;
	padding-top: 11px;
	margin-left: -3px;
}

.ul {
	padding: 0;
	margin-top: 18px;
}

.bluetooth {
	margin-top: 16px;
}

.radio-input {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.radio-span {
	position: absolute;
	width: 25px;
	height: 25px;
	background: url('../img/radio-off.svg');
	margin-left: -40px;
	margin-top: 7px;
}

.radio {
	padding-left: 36px;
	cursor: pointer;
}

.radio:hover .radio-span {
	opacity: 0.6;
}

.radio:active .radio-span {
	background: url('../img/radio-on.svg');
	opacity: 1;
}

.radio-input:checked + .radio-span {
	background: url('../img/radio-on.svg');
}

.radio-input:checked:active + .radio-span {
	background: url('../img/radio-off.svg');
}

.filter li {
	font-size: 14px;
	list-style: none;
	line-height: 2.86;
	font-weight: 300;
	letter-spacing: 0.14px;
}

.filter-flex .button {
	margin-top: 16px;
	padding: 0 39px;
}

.nameitem {
	font-weight: 800;
	font-size: 18px;
	color: #000000;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.18px;
}

.prices {
	font-size: 16px;
	color: #464646;
	line-height: 1.5;
	font-weight: 300;
	letter-spacing: 0.16px;
}

.products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products-items {
	width: 360px;
	position: relative;
}

.products-items:first-child,
.products-items:nth-child(2) {
	margin-bottom: 22px;
}

.products-text {
	display: flex;
	justify-content: space-between;
	margin: 7px 0 5px;
}

.item-hover {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 380px;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: rgba(238, 238, 238, 0.7);
}

.item-hover .button {
	padding: 0 38px 0 36px;
	margin-top: 43px;
}

.products-items:hover .products-items {
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.3);
	z-index: 3;
}

.products-items:hover .item-hover {
	display: flex;
}

.pages {
	background-color: #ebebeb;
	display: flex;
	width: 759px;
	justify-content: space-between;
	height: 71px;
	align-items: center;
	margin: 12px 0 77px;
}

.pages button {
	color: #000000;
	font-size: 16px;
	font-weight: 800;
	background-color: #ebebeb;
	line-height: 1.5;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.2px;
	text-transform: uppercase;
}

.buttons button {
	color: #b3b3b3;
}

.buttons .button-number:active {
	color: #000000;
}

.pages button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.button-grey {
	border: 0;
	padding: 0;
	margin: 0;
	width: 136px;
	height: 70px;
	cursor: pointer;
}

.buttons {
	width: 102px;
	cursor: pointer;
}
/* Для мозилы, ширина дива со страницами*/
@-moz-document url-prefix() {.buttons
 {width: 110px;}
}
/* Для IE */
_:-ms-fullscreen, :root .buttons { 
	width: 110px;
}

.button-number {
	border: 0;
	cursor: pointer;
}

.button-number:nth-child(2) {
	padding: 0 18px;
}

.forward {
	margin-right: 40px;
	width: 90px;
}

.back button:active,
.forward button:active {
	color:rgba(0, 0, 0, 0.3);
	background-color: #d9d9d9;
}

.back button:hover,
.forward button:hover {
	background-color: #d9d9d9;
}

.item-hover button:active {
	color: rgba(0, 0, 0, 0.3);
}

.item-hover  .second-times {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	width: 200px;
	line-height: 2.77;
	font-weight: 300;
	letter-spacing: 0.13px;
	border: 0;
	background-color: Transparent;
	margin-top: 5px;
	padding-left: 10px;
	cursor: pointer;
}

.item-hover .second-times:hover {
	color: #000000;
}

.item-hover .second-times:active {
	color: rgba(0, 0, 0, 0.2);
}

.social-footer a {
	opacity: 0.3;	
}

.logo-footer {
	fill: #ffc600;
}

.logo-footer:hover,
.center-footer a:hover,
.htmlacademy:hover,
.social-footer a:hover {
	opacity: 0.6;
}

.logo-footer-position {
	margin-top: 6px;
}

.logo-footer:active,
.center-footer a:active,
.htmlacademy:active,
.top-footer a:active,
.top-footer-catalog a:active {
	opacity: 0.3;
}

.top-footer a:hover,
.top-footer-catalog a:hover {
	color: #ffffff;
}

.social-footer a:active {
	opacity: 0.1;
}

.htmlacademy svg {
	fill: #ffc600;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}