@font-face {
	font-family: 'OpenSans';
	src: url('../web/opensans.woff') format('woff'),
		url('../web/opensans.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../web/opensanslight.woff') format('woff'),
		url('../web/opensanslight.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../web/gilroyextrabold.woff') format('woff'),
		url('../web/gilroyextrabold.woff2') format('woff2');
	font-weight: 800;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../web/gilroylight.woff') format('woff'),
		url('../web/gilroylight.woff2') format('woff2');
	font-weight: 300;
}

body {
	font-size: 15px;
	line-height: 2;
	font-family: 'OpenSans', Arial, sans-serif;
	margin: 0;
	padding: 0; 
}


a {
	text-decoration: none;
}

img {
	width: 100%;
}

/*
background-color: rgb(240, 197, 46, 0.5);
*/
.header {	
	width: 1160px;	
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.header::after {
	content: '';
	background-color: rgb(240, 197, 46, 0.5);
	width: 1160px;
	height: 299px;
	position: absolute;
	top: 40px;
	z-index: -1;
}

.header-catalog::after {
	content: '';
	backgroudn-color: rgb(240, 197, 46, 0.5);
	width: 1160px;
	height: ;
	position: absolute;
	top: 50px;
	z-index: -1;
}

.header-catalog {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.header-top {
	display: flex;
	margin: 18px auto 15px;
	padding: 0;
	width: 1040px;
	justify-content: space-between;
}

.header-links {
	display: flex;
	justify-content: space-between;
	width: 150px;
}

.search-flex {
	display: flex;
}

.search-flex img {
	margin-right: 20px;
}

.logo {
	padding-left: 59px;	
}

.logo img {
	width: 163px;
	height: 35px;
}

.svg {
	width: 16px;
	height: 16px;
}

.header input {
	color: rgba(0, 0, 0, 0.3);
	font-weight: 300;
}

.header a,
.header-catalog a {
	color: #000000;
	font-weight: 300;
	letter-spacing: 0.15px;
}

.header .search,
.header-catalog .search {
	display: none;
}

.header input:focus ~ .search,
.header-catalog input:focus ~ .search {
	display: block;
	color: #000000;
	font-weight: 300;
	letter-spacing: 0.15px;
}

.header input:hover,
.header-catalog input:hover {
	opacity: 0.6;
}

.header input:focus,
.header-catalog input:focus, {
	
}

.header button,
.header-catalog button {
	color: rgba(0, 0, 0, 0.3);
}

.title {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
	justify-content: space-between;
}

.title-1 {
	font-size: 47px;
	color: #000000;
	font-weight: 800;
	line-height: 1.02;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.47px;
	margin-left: 61px;
}

.filter-flex {
	display: flex;
	margin-left: 60px;
}


.flex-menu {
	display: none;
}

.index-navigation {
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

.index-navigation a {
	font-size: 18px;
	color: #000000;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.6px;
}

.flex-navigation li:hover .flex-menu {
	display: flex;
	position: absolute;
	width: 1160px;
	height: 129px;
	background-color: rgb(240, 197, 46, 0.5);
	left: -60px;
	top: 65px;
}

.menu {
	display: flex;
	position: absolute;
	width: 551px;
	height: 129px;	
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-menu {
	display: flex;
	margin-right: 0;
	position: relative;
	padding-left: 0;
}

.services-menu li:nth-child(2) {
	margin-left: 320px;
	margin-right: 35px;
}

.services-menu li:last-child {
	margin-left: 110px;
	margin-right: 0;
}

.menu a {
	color: #000000;
	font-weight: 300;
	text-transform: none;
	font-family: unset;
	letter-spacing: 0.15px;
	display: block;
}

.main-navigation a {
	font-size: 18px;
	font-weight: 800;
	
}

.index-navigation ul {
	list-style: none;
	font-size: 18px;
}

.index-navigation a:hover,
.header a:hover,
.header-catalog a:hover {
	opacity: 0.6;
}

.index-navigation a:active,
.header a:active,
.header-catalog a:active {
	opacity: 0.3;
}

main .name-slide {
	font-size: 47px;
	color: #000000;
	font-weight: 800;
	line-height: 1.19;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.47px;

}

.slide {
	display: flex;
	height: 486px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.flex-slide {
	display: flex;
	flex-direction: column;
	margin-left: 125px;
}

.slide img {
	width: 384px;
	height: 486px;
	margin-left: 90px;
}

.flex-description {
	display: flex;
	flex-direction: column;
	margin-left: 125px;
	margin-top: -80px;
	margin-bottom: 71px;
}

.description-slider {
	margin: 0;
	margin-bottom: 62px;
	color: #464646;
	font-weight: 300;
	letter-spacing: 0.15px;
}

.flex-description .name-slide {
	margin-bottom: 31px;
}


.flex-items {
	display: flex;
	justify-content: space-between;
}

.flex-description .button {
	margin-bottom: 71px;
}

.button {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
	text-transform: uppercase;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 3.6px;
}

.flex-description a:hover {

}

.flex-description a:active {
	color: rgba(0, 0, 0, 0.3);

}

.column {
	font-size: 36px;
	color: #000000;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.36px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.items {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.items li:first-child img {
	margin: 52px 32px 51px 31px;
}

.items li:nth-child(2) img {
	margin: 41px 36px 2px 38px;
}

.items li:nth-child(3) img {
	margin: 38px 40px 35px 49px;
}

.items li:nth-child(4) img {
	margin: 50px 25px 45px 28px;
}

.items li:nth-child(5) img {
	margin: 32px 49px 30px 55px;
}

.items li:last-child img {
	margin: 49px 15px 42px 13px;
}

.section-items {
	margin-left: auto;
	margin-right: auto;
	margin-top: 106px;
	width: 1160px;
}

.second-line {
	font-size: 13px;
	color: #464646;
	line-height: 1.54;
	font-family: unset;
	letter-spacing: 0.13px;
}

.container {
	display: flex;
	background-color: rgb(240, 197, 46, 0.5);
	width: 160px;
	height: 160px;
	pointer-events: none;
}

.items a:hover .container,
.items a:focus .container,
.items a:active .container {
	background-color: rgb(240, 197, 46);
}

.items a:active .container img {	
	opacity: 0.5;
}

.items li {
	width: 160px;
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 18px;	
	line-height: 1.33;
	font-weight: 800;
	letter-spacing: 0.18px;
}

.text-items {
	margin-top: 39px;
	color: #000000;
}

.services-flex {
	display: flex;
	flex-direction: column;
}

.service-container {
	display: flex;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.services {
	background-color: #e5e5e5;
}

.service-flex {
	display: flex;
	flex-direction: column;
	margin-left: 123px;
}

.services img {
	width: 136px;
	height: 164px;
	margin-left: 123px;
}

.services button {
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  color: #000000;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  margin-bottom: 49px;
}

.services button:hover {
	width: 160px;
	height: 40px;
	line-height: normal;
}

.services button:active {
	width: 278px;
	height: 40px;
	background-color: #000000;
	color: #f7e184;
	line-height: normal;
}

.service {
	font-size: 47px;
	color: #000000;
	line-height: 1.02;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0.47px;
	margin-bottom: 43px;
}

.service-description {
	color: #464646;
	font-weight: 300;
	letter-spacing: 0.15px;
}

.title-2 {
	font-size: 47px;
	color: #000000;
	line-height: 1.02;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 0.47px;
}

.information {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1160px;
}

.contacts {
	display: flex;
	flex-direction: column;
	margin-left: 138px;
}

.about-us {
	display: flex;
	flex-direction: column;
}

.about-us p {
	font-weight: 300;
	color: #464646;
}

.about-us ul {
	list-style: none;
	font-size: 16px;
	color: #000000;
	font-weight: 800;
	line-height: 2.5;
	font-family: 'Gilroy', Arial, sans-serif;
}

.about-us a {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
	
	line-height: 1.33;
}

.contacts p {
	font-weight: 300;
	color: #464646;
}

.footer {
	background-color: #464646;
	height: 323px;
	margin-top: 93px;
	margin-left: 0;
}

.hiddendiv {
	width: 1160px;
	margin-right: auto;
	margin-left: auto;
}

.top-footer {
	display: flex;
	justify-content: space-between;
}

.flex-user {
	display: flex;
	list-style: none;
	color: rgba(255, 255, 255, 0.7);
}

.flex-user li:nth-child(2) {
	margin-left: 6px;
	margiht-right: 6px;
	text-align: right;	
}

.center-footer {
	display: flex;	
	margin-top: 52px;
	justify-content: space-between;
}

.nav-flex {
	display: flex;
	list-style: none;
}

.nav-flex li:nth-child(2) {
	margin: 0 38px;
}

.bot-footer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.flex-social {
	display: flex;
	list-style: none;
}

.flex-social li:nth-child(2) {
	margin: 0 23px;
}

.htmlacademy {
	margin-top: 69px;
}

.address {
	color: #ffffff;
	font-weight: 300;
	margin-top: 40px;
}

.nav-flex a {
	font-size: 18px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.6px;
	margin-left: 38px;
}

.flex-user a {
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
	line-height: 2.4;
	letter-spacing: 0.15px;
	padding-right: 1px;
}

.phone {
	color: #ffffff;
	line-height: 2;
	font-weight: 300;
	letter-spacing: unset;
}

.message-us p {
	color: #000000;
	font-size: 18px;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: 800;
}

.message-us input {
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
	font-weight: 400;
}

.brands {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 94px;
	margin-bottom: 151px;
}

.brands-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0;
}

.brands ul {
	list-style: none;
}

.links {
	margin-left: 61px;
}

.links a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	line-hegit: 1.71;
	font-weight: 300;
	letter-spacing: 0.14px;
}

.links a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.links a:active {
	color: rgba(0, 0, 0, 0.1);
}

.h2 {
	background-color: #d9d9d9;
	font-size: 16px;
	color: #000000;
	font-weight: 800;
	line-height: 1.5;	
	text-transform: uppercase;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.2px;
}

.filter {
	background-color: #ebebeb;
}

.sorting p {
	background-color: #ebebeb;
}

.sorting button {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
	line-height: 1.29;
	font-weight: 400;
}

.sorting button:active {
	color: #000000;
}

.sorting button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.down, .up {
	fill: rgba(0, 0, 0, 0.3);
}

.down button:hover,
.up button:hover {
	fill: rgba(0, 0, 0, 0.6);
}

.down button:active,
.up button:active {
	fill: #000000;
}

.price p {
	color: #000000;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	letter-spacing: 0.18px;
}

.range p {
	color: rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
	letter-spacing: unset;
}

.filter legend {
	color: #000000;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.18px;
}

.filter li {
	font-size: 14px;
	list-style: none;
	line-height: 2.86;
	font-weight: 300;
	letter-spacing: 0.14px;
}

.filter button {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
}

.nameitem {
	font-weight: 800;
	font-size: 18px;
	color: #000000;
	line-height: 1.33;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 0.18px;
}

.prices {
	font-size: 16px;
	color: #464646;
	line-height: 1.5;
	font-weight: 300;
	letter-spacing: 0.16px;
}

.pages {
	background-color: #ebebeb;
	display: flex;
	width: 759px;
	justify-content: space-between;
	margin-right: 0px;
}

.pages button {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	font-weight: 800;
	background-color: #ebebeb;
	line-height: 1.5;
	font-family: 'Gilroy', Arial, sans-serif;
	letter-spacing: 3.2px;
}

.pages button:active {
	color: #000000;
}

.pages button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.back button:active,
.forward button:active {
	color:rgba(0, 0, 0, 0.3);
	background-color: #d9d9d9;
}

.back button:hover,
.forward button:hover {
	background-color: #d9d9d9;
}

.item-hover button {
	color: #000000;
	background-color: #f0c52e;
	font-size: 18px;
}

.item-hover button:hover {

}

.item-hover button:active {
	color: rgba(0, 0, 0, 0.3);

}

.item-hover  .second-times {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	background-color: #eeeeee;
	width: 144px;
	height: 13px;
	line-height: 2.77;
	font-weight: 300;
	letter-spacing: 0.13px;
}

.item-hover .second-times:hover {
	color: #000000;
	width: 144px;
	height: 13px;
}

.item-hover .second-times:active {
	color: rgba(0, 0, 0, 0.2);
	width: 144px;
	height: 13px;
}

.social-footer a {
	opacity: 0.3;
	
}

.logo-footer {
	fill: #ffc600;
}

.logo-footer:hover,
.center-footer a:hover,
.htmlacademy:hover,
.social-footer a:hover {
	opacity: 0.6;
}

.logo-footer:active,
.center-footer a:active,
.htmlacademy:active,
.top-footer a:active {
	opacity: 0.3;
}

.top-footer a:hover {
	color: #ffffff;
}

.social-footer a:active {
	opacity: 0.1;
}

.htmlacademy svg {
	fill: #ffc600;;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}