.header {
	background-color: #f0c52e;
}

.header input {
	color: rgba(0, 0, 0, 0.3);
}

.header a {
	color: #000000;
}

.header input:hover {
	opacity: 0.6;
}

.header button {
	color: rgba(0, 0, 0, 0.3);
}

h1 {
	font-size: 47px;
	color: #000000;
}

.index-navigation a {
	font-size: 18px;
	color: #000000;
	font-weight: 800;
}

.menu a {
	color: #000000;
	font-weight: 300;
}

.main-navigation a {
	font-size: 18px;
	font-weight: 800;
}

.index-navigation ul {
	list-style: none;
	font-size: 18px;
}

.index-navigation a:hover, .header a:hover {
	opacity: 0.6;
}

.index-navigation a:active .header a:active {
	opacity: 0.3;
}

main .name-slide {
	font-size: 47px;
	color: #000000;
	font-weight: 800;
}


.description-slider {

	color: #464646;
}

.description-slider a {
	width: 220px;
	height: 8px;
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
}

.description-slider a:hover {
	width: 220px;
	height: 40px;
}

.description-slider a:active {
	color: rgba(0, 0, 0, 0.3);
	width: 220px;
	height: 40px;
}

.column {
	font-size: 36px;
	color: #000000;
}

.second-line {
	font-size: 13px;
	color: #464646;
}

.container {
	background-color: #f0c52e;
	font-size: 18px;
}

.items ul {
	list-style: none;
}

.services {
	background-color: #e5e5e5;
}

.services button {
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
  color: #000000;
}

.services button:hover {
	width: 160px;
	height: 40px;
}

.services button:active {
	width: 278px;
	height: 40px;
	background-color: #000000;
	color: #f7e184;
}

.service {
	font-size: 47px;
	color: #000000;
}

.service-description {
	color: #464646;
}

.about_us h2 {
	font-size: 47px;
	color: #000000;
}

.about_us p {

	color: #464646;
}

.about_us ul {
	list-style: none;
	font-size: 16px;
	color: #000000;
	font-weight: 800;
}

.about_us a {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
}

.contacts h2 {
	font-size: 47px;
	color: #000000;
}

.contacts p {

	color: #464646;
}

.contacts button {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
}

.footer {
	background-color: #464646;
}

/*
Хоть убей, не понимаю, как изменить цвет надписи. Пробовал и бекграунд колов и просто колор, гуглил, есть варианты через фильтры, но.. неуверен

.left-footer img {
	color: #ffc600;
}
*/

.left-footer .address {
	color: #ffffff;

}

.center-footer a {
	font-size: 18px;
	color: #ffffff;
	font-weight: 800;
}

.right-footer a {
	color: rgba(255, 255, 255, 0.7);

}

.right-footer .phone {
	color: #ffffff;
}

.right-footer button {
	color: rgba(255, 255, 255, 0.3);
}

.message_us p {
	color: #000000;
	font-size: 18px;
}

.message_us input {
	color: rgba(70, 70, 70, 0.4);
	font-size: 14px;
}

.message_us button {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
}

.brands ul {
	list-style: none;
}

.links a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
}

.links a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.links a:active {
	color: rgba(0, 0, 0, 0.1);
}

h2 {
	background-color: #d9d9d9;
	font-size: 16px;
	color: #000000;
	font-weight: 800;
}

.filter {
	background-color: #ebebeb;
}

.sorting p {
	font-size: 16px;
	color: #000000;
	font-weight: 800;
	text-transform: uppercase;
}

.sorting button {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.3);
}

.sorting button:active {
	color: #000000;
}

.sorting button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.down, .up {
	fill: rgba(0, 0, 0, 0.3);
}

.down button:hover, .up button:hover {
	fill: rgba(0, 0, 0, 0.6);
}

.down button:active, .up button:active {
	fill: #000000;
}

.price p {
	color: #000000;
	font-size: 18px;
	font-weight: 800;
}

.range p {
	color: rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: 400;
}

.filter legend {
	color: #000000;
	font-size: 18px;
	font-weight: 800;
}

.filter ul {
font-size: 14px;
list-style: none;
}

.filter button {
	font-size: 18px;
	color: #000000;
	background-color: #f0c52e;
}

.nameitem {
	font-weight: 800;
	font-size: 18px;
	color: #000000;
}

.prices {
	font-size: 16px;
	color: #464646;
}

.pages {
	background-color: #ebebeb;
}

.pages button {
	color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	font-weight: 800;
	background-color: #ebebeb;
}

.pages button:active {
	color: #000000;
}

.pages button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.back button:active, .forward button:active {
	color:rgba(0, 0, 0, 0.3);
	background-color: #d9d9d9;
}

.back button:hover, .forward button:hover {
	background-color: #d9d9d9;
}

.item-hover button {
	color: #000000;
	background-color: #f0c52e;
	font-size: 18px;
}

.item-hover button:hover {
	width: 200px;
	height: 40px;
}

.item-hover button:active {
	color: rgba(0, 0, 0, 0.3);
	width: 200px;
	height: 40px;
}

.item-hover  .second-times {
	color: rgba(0, 0, 0, 0.5);
	font-size: 13px;
	background-color: #eeeeee;
	width: 144px;
	height: 13px;
}

.item-hover .second-times:hover {
	color: #000000;
	width: 144px;
	height: 13px;
}

.item-hover .second-times:active {
	color: rgba(0, 0, 0, 0.2);
	width: 144px;
	height: 13px;
}

.social-footer a {
	opacity: 0.3;
}

.logo-footer {
	fill: #ffc600;
}

.logo-footer:hover, .center-footer a:hover, .htmlacademy:hover, .social-footer a:hover {
	opacity: 0.6;
}

.logo-footer:active, .center-footer a:active, .htmlacademy:active, .right-footer a:active {
	opacity: 0.3;
}

.right-footer a:hover {
	color: #ffffff;
}

.social-footer a:active {
	opacity: 0.1;
}

.htmlacademy {
	fill: #ffc600;;
}

body {
 font-size: 15px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}